/* body styling */
body {
    background-color: lightblue;
}

/* header styling */
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

h2 {
    color: black;
}

h3 {
    color: black;
}

/* 2nd paragraph with border styling */
#paragraph2 {
    width: 700px;
    margin: 20px;
    padding: 15px;
    border: 3px solid green;
    background-color: white;
    line-height: 1.5;
}

/* italic text */
em {
    font-style: italic;
}

/* blue class paragraphs */
.blue {
    background-color: navy;
    color: white;
}

/* link styling */
a {
    color: blue;
}

/* W3schools link different color */
section a[href="http://www.w3schools.com"] {
    color: red;
}

/* ordered list with two digits */
ol {
    list-style-type: decimal-leading-zero;
}

/* table styling */
table {
    border-collapse: collapse;
}

th {
    background-color: darkgrey;
    border: 1px solid black;
    padding: 5px;
}

td {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}